body {
  background-color: #EADEDB;
}

.jumbotron {
  background-color: #EC9787;
}

.jumbotron h1, p {
  text-align: center;
}

.jumbotron h1 {
  -webkit-animation: zoomIn 1s ;
}

.jumbotron p {
  -webkit-animation: fadeInUp 1.5s;
}

.panelhead {
  background-color: #D1B894;
}

.panelbody {
  background-color: #EAE6DA;
}

#example {
  text-align: center;
  border:2px solid #FFCC99;
}

#example p {
  -webkit-animation: zoomInRight 1.5s;
}

.centerButton {
  text-align: center;
}

.btnBoop {
  background-color: #00A591;
  color: #EAE6DA;
}

#userInput {
  text-align: center;
}

#userOutput {
  text-align: center;
}
